body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}



.navigation {
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

.leftside {
    display: flex;
}

.navigation > .leftside > div {
    margin-right: 20px;
    font-size: 1.5vw;
}

.navigation-link {
    height: 22px;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a{
    color: teal;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link:hover {
    border-bottom: 1px solid peru;
}

.navigation-link a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




