body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}



.navigation {
    
    justify-content: space-between;
    padding: 38px;
}

.leftside {
    display: flex;
}

.navigation > .leftside > div {
    margin-right: 20px;
    font-size: 1.5vw;
}

.navigation-link {
    height: 22px;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a{
    color: teal;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link:hover {
    border-bottom: 1px solid peru;
}

.navigation-link a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color:lime;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}




